body{
    background-color: #f1f1f1;
}

.main-content{
    background-color: #fff;
    margin-top: 100px;
}

.main-image{
    text-align: center;
    padding: 0 15px;
    margin-bottom: 30px;
}

.main-content .blog-content h1{
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}

.main-content .blog-content .content img{
    max-width: 100%;
    height: auto;
}

.main-content .blog-content{
    color: #333;
    padding: 0 15px;
}
.tag-list span a {
    padding: 5px 12px;
    font-size: 12px;
    line-height: 14px;
    display: block;
    color: #898989;
    text-decoration: none;
    background-color: transparent;
}

.tag-list span a:hover {
    text-decoration: underline;
}

.tag-list span:hover {
    background: #3b3c54;
    border-color: #3b3c54;
    color: #fff;
}

.tag-list span {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background: #f5f5f5;
    transition: all 300ms;
}

.tag-list .tag-scroll {
    white-space: nowrap;
    margin-bottom: 3px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 0;
    margin-left: 15px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 300ms;
    margin-bottom: 50px;
    z-index: 9;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 15px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    border: none;
    border-radius: 0;
    margin: 0;
}
.test{
    margin-top: 100px;
}